<!-- views/partials/footer.ejs -->
<!-- views/partials/footer.ejs -->
<footer class="footer">
        <div class="container">
            <span class="text-muted">Copyright © 2018 Involve360 Ltd. All rights reserved.</span>
        </div>
</footer>