<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>oneUser Admin </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    
body { padding-top:5px; }
.navbar-inverse .navbar-brand {
    color: #f8510f;
    font:bold;
    
}
.navbar-inverse .nav {
    color: #54b8fa !important;
    
}

.navbar-brand {
  padding-top: 8px;
}

.nav .navbar-nav {

    font-weight: bold;
}
</style>